* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
	width: 100%;
	height: 100px;
	background-color: rgb(43, 231, 222);
	position:fixed;
	top:0px;
	color: white;
}
footer {
	width: 100%;
	height: 100px;
	background-color: rgb(95, 126, 228);
	position: fixed;
	bottom:0px;
	color: white;
}
.sidebar {
	width: 25%;
	height: 100vh;
	background-color: yellow;
	float: left;
}

.content {
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 255, 34);
}
