* {
	background: rgb(145, 255, 0);
	border-style: solid;
}	

.intro {
	color: red;
		border-style: dotted;
	max-height: 500px;
}
a:link {
	color: rgb(255, 136, 0);
}

a:hover {
	color: rgb(230, 48, 205);
	font-size: 250%;
	background: rgb(2, 26, 247); 
}

.summary {
	background: rgb(251, 255, 0);
}

.preamble {
	background: red;
	color: rgb(146, 132, 132);
}

abbr {
	font-size: 300%;
	color: blue;
	border-style: double;
}

.sidebar {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.participation {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	color: rgb(82, 27, 184);	
	border-style: ridge;
	background: white;
	font-size: 60%
}

h3 {
	background: gray;
	color: black;
	text-align: right;
	font-size: 50%
}