body {
    background: white;
    background-image: linear-gradient(to bottom right, #f1efef 40%, #b8b5b5);
    background-attachment: fixed;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    padding: 2rem 6rem 2rem 2rem;
    flex: 1;
}

h1,
h5 {
    margin: 0;
    padding-left: 0;
}

h2 {
    margin: 0;
    margin-top: 10%;
    padding-left: 0;
}
a {
    color: #02200a;
    font-weight: bold;
}
a:active {
    color: blue;
}

a:visited {
    color: blue;
}

@keyframes headerline {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

.headerline {
    position: absolute;
    background-color: black;
    width: 95%;
    height: 3px;
    left: -15%;
    animation-name: headerline;
    animation-duration: 5s;
}

.page-title {
    padding: 1rem 0;
}

article {
    padding: 2rem 0;
}

aside {
    position: relative;
    padding-top: 10%;
    width: 60vw;
}

nav {
    position: fixed;
    color: white;
    font-weight: bold;
    background: #02200a;
    min-width: 13%;
    height: 45vh;
    transition: width 600ms ease;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2%;
}

.navbar-nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    align-content: flex-start;
    a {
        color: white;
        font-weight: bold;
    }
    a:active {
        color: white;
        border: 1px solid;
    }

    a:visited {
        color: white;
    }
}

.navlist,
.dropdown {
    border-radius: 10%;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    z-index: 1;
}

.dropdown-content {
    display: none;
}

.footer {
    align-content: center;
    background-color: #02200a;
    color: white;
    margin: 0 auto;
    max-height: 3rem;
    max-width: 70%;
    text-align: center;
    display: flex;
}

.socials {
    align-content: center;
    display: flex;
    flex: 1;
}

.socials a {
    display: flex;
    max-width: 100%;
}

.socials_images {
    max-width: 100%;
    object-fit: contain;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #02200a; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #02200a;
    color: white;
    border: 3px solid white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: white;
    border: 3px solid #02200a;
    color: #02200a;
  }


@media (min-width: 600px) {
    .main {
        padding: 2rem 2rem;
    }

    article {
        padding: 5rem 0;
    }

    nav {
        color: white;
        font-weight: bold;
        background: #02200a;
        width: 50vw;
        height: 7vh;
        right: 0px;
        top: 8.5rem;
        padding: 0;
        position: absolute;
        margin: 0;
        z-index: 1;
    }

    .navbar-nav {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        text-align: left;
        align-content: flex-start;
        z-index: 1;
    }

    .navlist {
        border-radius: 10%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 90%;
        position: relative;
        z-index: 1;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        list-style: none;
        background-color: #02200a;
        top: 80%;
        min-width: 60%;
        right: 0;
        padding-top: 0;
        z-index: 0;
    }

    .dropdown-content li {
        padding: 1rem 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    h2 {
        padding: 0;
        margin-top: 5vh;
    }

    .footer {
        max-width: 70%;
    }
}
